In [1]:
#code to read data from snowflake using FosforML
 
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()
 
table_name = 'SALES_CLEAN'
 
sf_df = my_session.sql("select * from {}".format(table_name)) 

df = sf_df.to_pandas() 
 
print(df.shape) 

df.head(100)

(966400, 18)

,MNTH_CODE,TRANS_DATE,START_DATE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE,DISTRIBUTOR_CODE,OUTLET_CODE,CITY,STATE,COUNTY,STREET,PRODUCT_CODE,CATEGORY,SUBCATEGORY,BRAND
0,202312,2023-12-26,2023-11-27,372.73,2,0.000650,372.727273,202212,DB0110,OL112848,Carbondale,Illinois,City Center,Str2,PRD0118,Soap,Medicated Soap,Burgundy
1,202312,2023-12-26,2023-11-27,436.36,3,0.000900,436.363636,202212,DB0110,OL112848,Carbondale,Illinois,City Center,Str2,PRD0131,Soap,Toilet Soap,Grape vine
2,202312,2023-12-24,2023-11-27,202.82,2,0.000214,209.090909,202212,DB0209,OL112555,Shelbyville,Tennessee,City Center,Str5,PRD0065,Hair Care,Hair Oil,Crimson
3,202312,2023-12-29,2023-11-27,142.86,16,0.000384,142.857143,202212,DB0655,OL113173,Renton,Washington,Orange,Str2,PRD0106,Hair Care,Shampoo,Hair & Shoulders
4,202312,2023-12-17,2023-11-27,145.45,1,0.000300,145.454545,202212,DB0652,OL112373,Wallingford,Connecticut,Dolphin,Str1,PRD0070,Perfume and Deodrants,Female Deodrant,Pista green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,202312,2023-12-15,2023-11-27,274.28,32,0.000896,285.714286,202212,DB0110,OL113026,Kitty Hawk,North Carolina,Dolphin,Str3,PRD0094,Perfume and Deodrants,Unisex Perfume,Mocha
96,202312,2023-12-15,2023-11-27,53.57,12,0.000132,53.571429,202212,DB0110,OL113056,Yankton,South Dakota,Sumter,Str1,PRD0105,Perfume and Deodrants,Female Perfume,Garnet
97,202312,2023-12-19,2023-11-27,53.57,12,0.000132,53.571429,202212,DB0655,OL112115,Fitzgerald,Georgia,Silver,Str2,PRD0105,Perfume and Deodrants,Female Perfume,Garnet
98,202312,2023-12-14,2023-11-27,445.45,10,0.001000,445.454545,202212,DB0655,OL113057,Dallas,Texas,City Center,Str4,PRD0095,Soap,Medicated Soap,Sea green
99,202312,2023-12-30,2023-11-27,436.36,3,0.000900,436.363636,202212,DB0706,OL113046,Truro,Massachusetts,City Center,Str4,PRD0070,Perfume and Deodrants,Female Deodrant,Pista green

In [2]:
type(sf_df)

snowflake.snowpark.dataframe.DataFrame

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.describe()

,MNTH_CODE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE
count,966400.000000,966400.000000,966400.000000,966400.000000,966400.000000,966400.000000
mean,202372.876450,446.417454,12.696476,0.000931,457.814679,202206.573263
std,44.525843,1053.355633,40.761336,0.002063,1101.769102,3.404526
min,202309.000000,2.860000,1.000000,0.000011,1.785714,202201.000000
25%,202312.000000,140.000000,2.000000,0.000368,142.857143,202204.000000
50%,202403.000000,192.240000,6.000000,0.000448,198.181818,202207.000000
75%,202406.000000,450.000000,16.000000,0.000900,450.000000,202209.000000
max,202408.000000,145728.120000,10240.000000,0.275500,151800.000000,202212.000000

In [5]:
df.corr(numeric_only=True)

,MNTH_CODE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE
MNTH_CODE,1.000000,-0.007954,-0.011117,-0.005767,-0.007843,-0.791833
SALES_VALUE,-0.007954,1.000000,0.331870,0.925910,0.996460,0.005674
SALES_UNITS,-0.011117,0.331870,1.000000,0.427627,0.334911,0.013232
SALES_VOLUME,-0.005767,0.925910,0.427627,1.000000,0.927547,0.004323
SALES_PTR_VALUE,-0.007843,0.996460,0.334911,0.927547,1.000000,0.006129
OC_CODE,-0.791833,0.005674,0.013232,0.004323,0.006129,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966400 entries, 0 to 966399
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   MNTH_CODE         966400 non-null  int32
 1   TRANS_DATE        966400 non-null  object
 2   START_DATE        966400 non-null  object
 3   SALES_VALUE       966400 non-null  float64
 4   SALES_UNITS       966400 non-null  int16
 5   SALES_VOLUME      966400 non-null  float64
 6   SALES_PTR_VALUE   966400 non-null  float64
 7   OC_CODE           966400 non-null  int32
 8   DISTRIBUTOR_CODE  966400 non-null  object
 9   OUTLET_CODE       966400 non-null  object
 10  CITY              966400 non-null  object
 11  STATE             966400 non-null  object
 12  COUNTY            966400 non-null  object
 13  STREET            966400 non-null  object
 14  PRODUCT_CODE      966400 non-null  object
 15  CATEGORY          966400 non-null  object
 16  SUBCATEGORY       966400 non-null  object
 17  BRAND             966400 non-null  object
dtypes: float64(3), int16(1), int32(2), object(12)
memory usage: 119.8+ MB

In [7]:
df.columns

Index(['MNTH_CODE', 'TRANS_DATE', 'START_DATE', 'SALES_VALUE', 'SALES_UNITS',
       'SALES_VOLUME', 'SALES_PTR_VALUE', 'OC_CODE', 'DISTRIBUTOR_CODE',
       'OUTLET_CODE', 'CITY', 'STATE', 'COUNTY', 'STREET', 'PRODUCT_CODE',
       'CATEGORY', 'SUBCATEGORY', 'BRAND'],
      dtype='object')

In [8]:
df.isnull().sum()

MNTH_CODE           0
TRANS_DATE          0
START_DATE          0
SALES_VALUE         0
SALES_UNITS         0
SALES_VOLUME        0
SALES_PTR_VALUE     0
OC_CODE             0
DISTRIBUTOR_CODE    0
OUTLET_CODE         0
CITY                0
STATE               0
COUNTY              0
STREET              0
PRODUCT_CODE        0
CATEGORY            0
SUBCATEGORY         0
BRAND               0
dtype: int64

In [9]:
df.duplicated().sum()

3158

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
data=df.copy()

In [12]:
data[['MNTH_CODE', 'TRANS_DATE', 'START_DATE', 'SALES_VALUE', 'SALES_UNITS',
       'SALES_VOLUME', 'SALES_PTR_VALUE', 'OC_CODE', 'DISTRIBUTOR_CODE',
       'OUTLET_CODE', 'CITY', 'STATE', 'COUNTY', 'STREET', 'PRODUCT_CODE',
       'CATEGORY', 'SUBCATEGORY', 'BRAND']].head()

,MNTH_CODE,TRANS_DATE,START_DATE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE,DISTRIBUTOR_CODE,OUTLET_CODE,CITY,STATE,COUNTY,STREET,PRODUCT_CODE,CATEGORY,SUBCATEGORY,BRAND
0,202312,2023-12-26,2023-11-27,372.73,2,0.000650,372.727273,202212,DB0110,OL112848,Carbondale,Illinois,City Center,Str2,PRD0118,Soap,Medicated Soap,Burgundy
1,202312,2023-12-26,2023-11-27,436.36,3,0.000900,436.363636,202212,DB0110,OL112848,Carbondale,Illinois,City Center,Str2,PRD0131,Soap,Toilet Soap,Grape vine
2,202312,2023-12-24,2023-11-27,202.82,2,0.000214,209.090909,202212,DB0209,OL112555,Shelbyville,Tennessee,City Center,Str5,PRD0065,Hair Care,Hair Oil,Crimson
3,202312,2023-12-29,2023-11-27,142.86,16,0.000384,142.857143,202212,DB0655,OL113173,Renton,Washington,Orange,Str2,PRD0106,Hair Care,Shampoo,Hair & Shoulders
4,202312,2023-12-17,2023-11-27,145.45,1,0.000300,145.454545,202212,DB0652,OL112373,Wallingford,Connecticut,Dolphin,Str1,PRD0070,Perfume and Deodrants,Female Deodrant,Pista green

In [13]:
import pandas as pd

In [ ]:
status=pd.get_dummies(data[['MNTH_CODE', 'OUTLET_CODE', 'PRODUCT_CODE',
       'CATEGORY' ]])

In [ ]:
status.head()

In [ ]:
data=pd.concat([data,status],axis=1)

In [ ]:
data.head()

In [ ]:
data.drop(['TRANS_DATE', 'START_DATE', 'DISTRIBUTOR_CODE',
       'OUTLET_CODE', 'CITY', 'STATE', 'COUNTY', 'STREET', 'PRODUCT_CODE',
       'CATEGORY', 'SUBCATEGORY', 'BRAND'],axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
X=data.drop(['CUSTOMER_ID','TRANS_DATE','START_DATE'],axis=1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
Scaler=MinMaxScaler()

In [ ]:
X.head()

In [ ]:
Scaler.fit(X)
X_Train_scaled=Scaler.transform(X)

In [ ]:
X_Train_scaled

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# Assuming X_Train_scaled is already defined and scaled

# Initialize PCA with the number of components you want
pca = PCA(n_components=2)

# Fit and transform the scaled training data
X_Train_pca = pca.fit_transform(X_Train_scaled)

# Convert the PCA result to a DataFrame
X_Train_pca_df = pd.DataFrame(X_Train_pca, columns=['PC1', 'PC2'])

# Perform K-means clustering
kmeans = KMeans(n_clusters=4)  # Adjust the number of clusters as needed
kmeans.fit(X_Train_pca_df)

# Add the cluster labels to the DataFrame
X_Train_pca_df['Cluster'] = kmeans.labels_

# Plot the clusters
plt.figure(figsize=(10, 7))
plt.scatter(X_Train_pca_df['PC1'], X_Train_pca_df['PC2'], c=X_Train_pca_df['Cluster'], cmap='viridis')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.title('PCA and K-means Clustering')
plt.show()

In [ ]:
from sklearn.cluster import KMeans  
 
wcss_list= []  #Initializing the list for the values of WCSS  
 
#Using for loop for iterations from 1 to 10.  
 
for i in range(1, 11):  
 
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state= 42)  
 
    kmeans.fit(X_Train_pca_df)  
 
    wcss_list.append(kmeans.inertia_)  
 
plt.plot(range(1, 11), wcss_list)  
 
plt.title('The Elobw Method Graph')  
 
plt.xlabel('Number of clusters(k)')  
 
plt.ylabel('wcss_list')  
 
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# Assuming X_Train_scaled is already defined and scaled

# Initialize PCA with the number of components you want
pca = PCA(n_components=2)

# Fit and transform the scaled training data
X_Train_pca = pca.fit_transform(X_Train_scaled)

# Convert the PCA result to a DataFrame
X_Train_pca_df = pd.DataFrame(X_Train_pca, columns=['PC1', 'PC2'])

# Perform K-means clustering
kmeans = KMeans(n_clusters=4)  # Adjust the number of clusters as needed
kmeans.fit(X_Train_pca_df)

# Add the cluster labels to the DataFrame
X_Train_pca_df['Cluster'] = kmeans.labels_

# Plot the clusters
plt.figure(figsize=(10, 7))
plt.scatter(X_Train_pca_df['PC1'], X_Train_pca_df['PC2'], c=X_Train_pca_df['Cluster'], cmap='viridis')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.title('PCA and K-means Clustering')
plt.show()

In [ ]:
combined_df = pd.concat([df, X_Train_pca_df], axis=1)

In [ ]:
combined_df.head()

In [ ]:
combined_df['Cluster'].value_counts()

In [ ]:
pip install snowflake-connector-python

In [ ]:
import pandas as pd
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas

In [ ]:
combined_df['Cluster'].value_counts()

In [ ]:
combined_df['ClusterID'] = combined_df['Cluster']
 
di = {0: "CLUSTER_0", 1: "CLUSTER_1",2: "CLUSTER_2", 3: "CLUSTER_3"}
combined_df.replace({"ClusterID": di})

In [ ]:
#Code to write back dataframe to Snowflake
 
ins_train_sf=my_session.createDataFrame(
        combined_df.values.tolist(),
        schema=combined_df.columns.tolist())
ins_train_sf.write.mode("overwrite").save_as_table("CPG_DB.BRONZE.")