In [1]:
pip install darts

Requirement already satisfied: darts in /opt/conda/lib/python3.9/site-packages (0.30.0)
Requirement already satisfied: holidays>=0.11.1 in /opt/conda/lib/python3.9/site-packages (from darts) (0.57)
Requirement already satisfied: matplotlib>=3.3.0 in /opt/conda/lib/python3.9/site-packages (from darts) (3.9.2)
Requirement already satisfied: tbats>=1.1.0 in /opt/conda/lib/python3.9/site-packages (from darts) (1.1.3)
Requirement already satisfied: torch>=1.8.0 in /opt/conda/lib/python3.9/site-packages (from darts) (2.4.1)
Requirement already satisfied: tensorboardX>=2.1 in /opt/conda/lib/python3.9/site-packages (from darts) (2.6.2.2)
Requirement already satisfied: shap>=0.40.0 in /opt/conda/lib/python3.9/site-packages (from darts) (0.46.0)
Requirement already satisfied: pyod>=0.9.5 in /opt/conda/lib/python3.9/site-packages (from darts) (2.0.2)
Requirement already satisfied: statsmodels>=0.14.0 in /opt/conda/lib/python3.9/site-packages (from darts) (0.14.3)
Requirement already satisfied: tqdm>=4.60.0 in /opt/conda/lib/python3.9/site-packages (from darts) (4.66.4)
Requirement already satisfied: joblib>=0.16.0 in /opt/conda/lib/python3.9/site-packages (from darts) (1.4.2)
Requirement already satisfied: statsforecast>=1.4 in /opt/conda/lib/python3.9/site-packages (from darts) (1.7.8)
Requirement already satisfied: xarray>=0.17.0 in /opt/conda/lib/python3.9/site-packages (from darts) (2024.7.0)
Requirement already satisfied: pandas>=1.0.5; python_version >= "3.9" in /opt/conda/lib/python3.9/site-packages (from darts) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from darts) (1.3.2)
Requirement already satisfied: numpy<2.0.0,>=1.19.0 in /opt/conda/lib/python3.9/site-packages (from darts) (1.26.4)
Requirement already satisfied: nfoursid>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from darts) (1.0.1)
Requirement already satisfied: xgboost>=1.6.0 in /opt/conda/lib/python3.9/site-packages (from darts) (1.7.6)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.9/site-packages (from darts) (1.13.1)
Requirement already satisfied: requests>=2.22.0 in /opt/conda/lib/python3.9/site-packages (from darts) (2.32.3)
Requirement already satisfied: pytorch-lightning>=1.5.0 in /opt/conda/lib/python3.9/site-packages (from darts) (2.4.0)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.9/site-packages (from darts) (4.12.2)
Requirement already satisfied: pmdarima>=1.8.0 in /opt/conda/lib/python3.9/site-packages (from darts) (2.0.4)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from holidays>=0.11.1->darts) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (6.4.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (1.3.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (1.4.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (3.1.4)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (10.4.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (23.2)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->darts) (4.54.1)
Requirement already satisfied: sympy in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (1.13.3)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (12.1.105)
Requirement already satisfied: nvidia-cusparse-cu12==12.1.0.106; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (12.1.0.106)
Requirement already satisfied: nvidia-nvtx-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (12.1.105)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (12.1.105)
Requirement already satisfied: nvidia-cufft-cu12==11.0.2.54; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (11.0.2.54)
Requirement already satisfied: nvidia-curand-cu12==10.3.2.106; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (10.3.2.106)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (3.1.4)
Requirement already satisfied: nvidia-cudnn-cu12==9.1.0.70; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (9.1.0.70)
Requirement already satisfied: fsspec in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (2023.12.2)
Requirement already satisfied: filelock in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (3.16.1)
Requirement already satisfied: nvidia-cublas-cu12==12.1.3.1; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (12.1.3.1)
Requirement already satisfied: nvidia-cusolver-cu12==11.4.5.107; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (11.4.5.107)
Requirement already satisfied: nvidia-nccl-cu12==2.20.5; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (2.20.5)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (12.1.105)
Requirement already satisfied: triton==3.0.0; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.13" in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (3.0.0)
Requirement already satisfied: networkx in /opt/conda/lib/python3.9/site-packages (from torch>=1.8.0->darts) (3.2.1)
Requirement already satisfied: protobuf>=3.20 in /opt/conda/lib/python3.9/site-packages (from tensorboardX>=2.1->darts) (5.28.2)
Requirement already satisfied: slicer==0.0.8 in /opt/conda/lib/python3.9/site-packages (from shap>=0.40.0->darts) (0.0.8)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.9/site-packages (from shap>=0.40.0->darts) (2.2.1)
Requirement already satisfied: numba in /opt/conda/lib/python3.9/site-packages (from shap>=0.40.0->darts) (0.60.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.9/site-packages (from statsmodels>=0.14.0->darts) (0.5.6)
Requirement already satisfied: threadpoolctl>=3 in /opt/conda/lib/python3.9/site-packages (from statsforecast>=1.4->darts) (3.5.0)
Requirement already satisfied: coreforecast>=0.0.12 in /opt/conda/lib/python3.9/site-packages (from statsforecast>=1.4->darts) (0.0.12)
Requirement already satisfied: utilsforecast>=0.1.4 in /opt/conda/lib/python3.9/site-packages (from statsforecast>=1.4->darts) (0.2.5)
Requirement already satisfied: fugue>=0.8.1 in /opt/conda/lib/python3.9/site-packages (from statsforecast>=1.4->darts) (0.9.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.0.5; python_version >= "3.9"->darts) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.0.5; python_version >= "3.9"->darts) (2024.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22.0->darts) (1.26.20)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22.0->darts) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22.0->darts) (2024.7.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.9/site-packages (from requests>=2.22.0->darts) (3.3.2)
Requirement already satisfied: torchmetrics>=0.7.0 in /opt/conda/lib/python3.9/site-packages (from pytorch-lightning>=1.5.0->darts) (1.4.2)
Requirement already satisfied: lightning-utilities>=0.10.0 in /opt/conda/lib/python3.9/site-packages (from pytorch-lightning>=1.5.0->darts) (0.11.7)
Requirement already satisfied: PyYAML>=5.4 in /opt/conda/lib/python3.9/site-packages (from pytorch-lightning>=1.5.0->darts) (6.0.1)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/conda/lib/python3.9/site-packages (from pmdarima>=1.8.0->darts) (3.0.11)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /opt/conda/lib/python3.9/site-packages (from pmdarima>=1.8.0->darts) (65.6.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil->holidays>=0.11.1->darts) (1.16.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /opt/conda/lib/python3.9/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib>=3.3.0->darts) (3.19.2)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/conda/lib/python3.9/site-packages (from sympy->torch>=1.8.0->darts) (1.3.0)
Requirement already satisfied: nvidia-nvjitlink-cu12 in /opt/conda/lib/python3.9/site-packages (from nvidia-cusparse-cu12==12.1.0.106; platform_system == "Linux" and platform_machine == "x86_64"->torch>=1.8.0->darts) (12.6.77)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.9/site-packages (from jinja2->torch>=1.8.0->darts) (2.1.5)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /opt/conda/lib/python3.9/site-packages (from numba->shap>=0.40.0->darts) (0.43.0)
Requirement already satisfied: triad>=0.9.7 in /opt/conda/lib/python3.9/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts) (0.9.8)
Requirement already satisfied: adagio>=0.2.4 in /opt/conda/lib/python3.9/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts) (0.2.6)
Requirement already satisfied: fs in /opt/conda/lib/python3.9/site-packages (from triad>=0.9.7->fugue>=0.8.1->statsforecast>=1.4->darts) (2.4.16)
Requirement already satisfied: pyarrow>=6.0.1 in /opt/conda/lib/python3.9/site-packages (from triad>=0.9.7->fugue>=0.8.1->statsforecast>=1.4->darts) (17.0.0)
Requirement already satisfied: appdirs~=1.4.3 in /opt/conda/lib/python3.9/site-packages (from fs->triad>=0.9.7->fugue>=0.8.1->statsforecast>=1.4->darts) (1.4.4)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import fosforml
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
my_session.connection.database

'ASSORTMENT_PLANNING'

In [4]:
my_session.connection.schema

'CPG_BRONZE'

In [5]:
table_name = "ASSORTMENT_PLANNING.CPG_BRONZE.SALES_CLEAN"

In [6]:
sf_df = my_session.sql("select * from {}".format(table_name))
type(sf_df)
df=sf_df.to_pandas()
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head(5)

,MNTH_CODE,TRANS_DATE,START_DATE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE,DISTRIBUTOR_CODE,OUTLET_CODE,CITY,STATE,COUNTY,STREET,PRODUCT_CODE,CATEGORY,SUBCATEGORY,BRAND
0,202312,2023-12-26,2023-11-27,372.73,2,0.000650,372.727273,202212,DB0110,OL112848,Carbondale,Illinois,City Center,Str2,PRD0118,Soap,Medicated Soap,Burgundy
1,202312,2023-12-26,2023-11-27,436.36,3,0.000900,436.363636,202212,DB0110,OL112848,Carbondale,Illinois,City Center,Str2,PRD0131,Soap,Toilet Soap,Grape vine
2,202312,2023-12-24,2023-11-27,202.82,2,0.000214,209.090909,202212,DB0209,OL112555,Shelbyville,Tennessee,City Center,Str5,PRD0065,Hair Care,Hair Oil,Crimson
3,202312,2023-12-29,2023-11-27,142.86,16,0.000384,142.857143,202212,DB0655,OL113173,Renton,Washington,Orange,Str2,PRD0106,Hair Care,Shampoo,Hair & Shoulders
4,202312,2023-12-17,2023-11-27,145.45,1,0.000300,145.454545,202212,DB0652,OL112373,Wallingford,Connecticut,Dolphin,Str1,PRD0070,Perfume and Deodrants,Female Deodrant,Pista green

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966400 entries, 0 to 966399
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   MNTH_CODE         966400 non-null  int32
 1   TRANS_DATE        966400 non-null  object
 2   START_DATE        966400 non-null  object
 3   SALES_VALUE       966400 non-null  float64
 4   SALES_UNITS       966400 non-null  int16
 5   SALES_VOLUME      966400 non-null  float64
 6   SALES_PTR_VALUE   966400 non-null  float64
 7   OC_CODE           966400 non-null  int32
 8   DISTRIBUTOR_CODE  966400 non-null  object
 9   OUTLET_CODE       966400 non-null  object
 10  CITY              966400 non-null  object
 11  STATE             966400 non-null  object
 12  COUNTY            966400 non-null  object
 13  STREET            966400 non-null  object
 14  PRODUCT_CODE      966400 non-null  object
 15  CATEGORY          966400 non-null  object
 16  SUBCATEGORY       966400 non-null  object
 17  BRAND             966400 non-null  object
dtypes: float64(3), int16(1), int32(2), object(12)
memory usage: 119.8+ MB

## Generate Additional Features

In [9]:
import pandas as pd

def generate_features(df):
    # Ensure the TRANS_DATE column is in datetime format
    df['TRANS_DATE'] = pd.to_datetime(df['TRANS_DATE'])
    
    # Extract temporal features
    df['year'] = df['TRANS_DATE'].dt.year
    df['month'] = df['TRANS_DATE'].dt.month
    df['day'] = df['TRANS_DATE'].dt.day
    df['dayofweek'] = df['TRANS_DATE'].dt.dayofweek
    df['quarter'] = df['TRANS_DATE'].dt.quarter
    df['is_month_start'] = df['TRANS_DATE'].dt.is_month_start
    df['is_month_end'] = df['TRANS_DATE'].dt.is_month_end
    
    # Create UNIT_PTR feature
    df['UNIT_PTR'] = df['SALES_PTR_VALUE'] / df['SALES_UNITS']
    
    return df

In [10]:
df = generate_features(df)

In [11]:
df.head()

,MNTH_CODE,TRANS_DATE,START_DATE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE,DISTRIBUTOR_CODE,OUTLET_CODE,...,SUBCATEGORY,BRAND,year,month,day,dayofweek,quarter,is_month_start,is_month_end,UNIT_PTR
0,202312,2023-12-26,2023-11-27,372.73,2,0.000650,372.727273,202212,DB0110,OL112848,...,Medicated Soap,Burgundy,2023,12,26,1,4,False,False,186.363636
1,202312,2023-12-26,2023-11-27,436.36,3,0.000900,436.363636,202212,DB0110,OL112848,...,Toilet Soap,Grape vine,2023,12,26,1,4,False,False,145.454545
2,202312,2023-12-24,2023-11-27,202.82,2,0.000214,209.090909,202212,DB0209,OL112555,...,Hair Oil,Crimson,2023,12,24,6,4,False,False,104.545455
3,202312,2023-12-29,2023-11-27,142.86,16,0.000384,142.857143,202212,DB0655,OL113173,...,Shampoo,Hair & Shoulders,2023,12,29,4,4,False,False,8.928571
4,202312,2023-12-17,2023-11-27,145.45,1,0.000300,145.454545,202212,DB0652,OL112373,...,Female Deodrant,Pista green,2023,12,17,6,4,False,False,145.454545

In [12]:
df = df.sort_values(by='TRANS_DATE')

In [13]:
# Convert all column names to uppercase
df.columns = [col.upper() for col in df.columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 966400 entries, 787515 to 905006
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   MNTH_CODE         966400 non-null  int32
 1   TRANS_DATE        966400 non-null  datetime64[ns]
 2   START_DATE        966400 non-null  object
 3   SALES_VALUE       966400 non-null  float64
 4   SALES_UNITS       966400 non-null  int16
 5   SALES_VOLUME      966400 non-null  float64
 6   SALES_PTR_VALUE   966400 non-null  float64
 7   OC_CODE           966400 non-null  int32
 8   DISTRIBUTOR_CODE  966400 non-null  object
 9   OUTLET_CODE       966400 non-null  object
 10  CITY              966400 non-null  object
 11  STATE             966400 non-null  object
 12  COUNTY            966400 non-null  object
 13  STREET            966400 non-null  object
 14  PRODUCT_CODE      966400 non-null  object
 15  CATEGORY          966400 non-null  object
 16  SUBCATEGORY       966400 non-null  object
 17  BRAND             966400 non-null  object
 18  YEAR              966400 non-null  int32
 19  MONTH             966400 non-null  int32
 20  DAY               966400 non-null  int32
 21  DAYOFWEEK         966400 non-null  int32
 22  QUARTER           966400 non-null  int32
 23  IS_MONTH_START    966400 non-null  bool
 24  IS_MONTH_END      966400 non-null  bool
 25  UNIT_PTR          966400 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(4), int16(1), int32(7), object(11)
memory usage: 154.8+ MB

Split the dataset into test and train