In [1]:
pip install --upgrade fosforml

Requirement already up-to-date: fosforml in /opt/conda/lib/python3.9/site-packages (1.1.8)
Requirement already satisfied, skipping upgrade: scikit-learn==1.3.2 in /opt/conda/lib/python3.9/site-packages (from fosforml) (1.3.2)
Requirement already satisfied, skipping upgrade: cloudpickle==2.2.1 in /opt/conda/lib/python3.9/site-packages (from fosforml) (2.2.1)
Requirement already satisfied, skipping upgrade: snowflake-ml-python==1.5.0; python_version <= "3.9" in /opt/conda/lib/python3.9/site-packages (from fosforml) (1.5.0)
Requirement already satisfied, skipping upgrade: scipy>=1.5.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml) (1.13.1)
Requirement already satisfied, skipping upgrade: joblib>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml) (1.4.2)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml) (1.26.4)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml) (3.5.0)
Requirement already satisfied, skipping upgrade: pytimeparse<2,>=1.1.8 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.1.8)
Requirement already satisfied, skipping upgrade: catboost<1.3,>=1.2.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.2.7)
Requirement already satisfied, skipping upgrade: packaging<24,>=20.9 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (23.2)
Requirement already satisfied, skipping upgrade: pandas<3,>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.2.2)
Requirement already satisfied, skipping upgrade: pyyaml<7,>=6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (6.0.1)
Requirement already satisfied, skipping upgrade: retrying<2,>=1.3.3 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.3.4)
Requirement already satisfied, skipping upgrade: sqlparse<1,>=0.4 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.5.1)
Requirement already satisfied, skipping upgrade: xgboost<2,>=1.7.3 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.7.6)
Requirement already satisfied, skipping upgrade: fsspec[http]<2024,>=2022.11 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2023.12.2)
Requirement already satisfied, skipping upgrade: cachetools<6,>=3.1.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (5.5.0)
Requirement already satisfied, skipping upgrade: anyio<4,>=3.5.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.7.1)
Requirement already satisfied, skipping upgrade: snowflake-connector-python[pandas]<4,>=3.5.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.12.2)
Requirement already satisfied, skipping upgrade: pyarrow in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (17.0.0)
Requirement already satisfied, skipping upgrade: snowflake-snowpark-python!=1.12.0,<2,>=1.11.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.23.0)
Requirement already satisfied, skipping upgrade: typing-extensions<5,>=4.1.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (4.12.2)
Requirement already satisfied, skipping upgrade: absl-py<2,>=0.15 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.4.0)
Requirement already satisfied, skipping upgrade: s3fs<2024,>=2022.11 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2023.12.2)
Requirement already satisfied, skipping upgrade: importlib-resources<7,>=6.1.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (6.4.5)
Requirement already satisfied, skipping upgrade: six in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.16.0)
Requirement already satisfied, skipping upgrade: graphviz in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.20.3)
Requirement already satisfied, skipping upgrade: matplotlib in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.9.2)
Requirement already satisfied, skipping upgrade: plotly in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (5.24.1)
Requirement already satisfied, skipping upgrade: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas<3,>=1.0.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2024.1)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas<3,>=1.0.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2024.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas<3,>=1.0.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.9.0.post0)
Requirement already satisfied, skipping upgrade: aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http" in /opt/conda/lib/python3.9/site-packages (from fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.10.10)
Requirement already satisfied, skipping upgrade: requests; extra == "http" in /opt/conda/lib/python3.9/site-packages (from fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.32.3)
Requirement already satisfied, skipping upgrade: sniffio>=1.1 in /opt/conda/lib/python3.9/site-packages (from anyio<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.3.1)
Requirement already satisfied, skipping upgrade: exceptiongroup; python_version < "3.11" in /opt/conda/lib/python3.9/site-packages (from anyio<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.2.2)
Requirement already satisfied, skipping upgrade: idna>=2.8 in /opt/conda/lib/python3.9/site-packages (from anyio<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.7)
Requirement already satisfied, skipping upgrade: asn1crypto<2.0.0,>0.24.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.5.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2024.7.4)
Requirement already satisfied, skipping upgrade: filelock<4,>=3.5 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.16.1)
Requirement already satisfied, skipping upgrade: pyjwt<3.0.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.9.0)
Requirement already satisfied, skipping upgrade: pyOpenSSL<25.0.0,>=16.2.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (24.0.0)
Requirement already satisfied, skipping upgrade: charset-normalizer<4,>=2 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.3.2)
Requirement already satisfied, skipping upgrade: platformdirs<5.0.0,>=2.6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (4.2.2)
Requirement already satisfied, skipping upgrade: tomlkit in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.13.2)
Requirement already satisfied, skipping upgrade: cffi<2.0.0,>=1.9 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.16.0)
Requirement already satisfied, skipping upgrade: urllib3<2.0.0,>=1.21.1; python_version < "3.10" in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.26.20)
Requirement already satisfied, skipping upgrade: sortedcontainers>=2.4.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.4.0)
Requirement already satisfied, skipping upgrade: cryptography>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (42.0.5)
Requirement already satisfied, skipping upgrade: setuptools>=40.6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python!=1.12.0,<2,>=1.11.1->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (65.6.3)
Requirement already satisfied, skipping upgrade: wheel in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python!=1.12.0,<2,>=1.11.1->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.37.1)
Requirement already satisfied, skipping upgrade: aiobotocore<3.0.0,>=2.5.4 in /opt/conda/lib/python3.9/site-packages (from s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.15.2)
Requirement already satisfied, skipping upgrade: zipp>=3.1.0; python_version < "3.10" in /opt/conda/lib/python3.9/site-packages (from importlib-resources<7,>=6.1.1->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.19.2)
Requirement already satisfied, skipping upgrade: contourpy>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.3.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.12.1)
Requirement already satisfied, skipping upgrade: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (4.54.1)
Requirement already satisfied, skipping upgrade: pyparsing>=2.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (3.2.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.4.7)
Requirement already satisfied, skipping upgrade: pillow>=8 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (10.4.0)
Requirement already satisfied, skipping upgrade: tenacity>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from plotly->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (9.0.0)
Requirement already satisfied, skipping upgrade: attrs>=17.3.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (23.2.0)
Requirement already satisfied, skipping upgrade: yarl<2.0,>=1.12.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.15.2)
Requirement already satisfied, skipping upgrade: async-timeout<5.0,>=4.0; python_version < "3.11" in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (4.0.3)
Requirement already satisfied, skipping upgrade: aiosignal>=1.1.2 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.3.1)
Requirement already satisfied, skipping upgrade: aiohappyeyeballs>=2.3.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.4.3)
Requirement already satisfied, skipping upgrade: frozenlist>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.4.1)
Requirement already satisfied, skipping upgrade: multidict<7.0,>=4.5 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (6.1.0)
Requirement already satisfied, skipping upgrade: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (2.21)
Requirement already satisfied, skipping upgrade: aioitertools<1.0.0,>=0.5.1 in /opt/conda/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.12.0)
Requirement already satisfied, skipping upgrade: botocore<1.35.37,>=1.35.16 in /opt/conda/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.35.36)
Requirement already satisfied, skipping upgrade: wrapt<2.0.0,>=1.10.10 in /opt/conda/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.16.0)
Requirement already satisfied, skipping upgrade: propcache>=0.2.0 in /opt/conda/lib/python3.9/site-packages (from yarl<2.0,>=1.12.0->aiohttp!=4.0.0a0,!=4.0.0a1; extra == "http"->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (0.2.0)
Requirement already satisfied, skipping upgrade: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.9/site-packages (from botocore<1.35.37,>=1.35.16->aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0; python_version <= "3.9"->fosforml) (1.0.1)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in /opt/conda/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: pandas>=1.2 in /opt/conda/lib/python3.9/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/conda/lib/python3.9/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/conda/lib/python3.9/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.2->seaborn) (1.16.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /opt/conda/lib/python3.9/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib!=3.6.1,>=3.4->seaborn) (3.19.2)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import fosforml
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [4]:
my_session.connection.database

'ASSORTMENT_PLANNING'

In [5]:
my_session.connection.schema

'CPG_BRONZE'

In [6]:
table_name = "ASSORTMENT_PLANNING.CPG_BRONZE.SALES_CLEAN"

In [7]:
sf_df = my_session.sql("select * from {}".format(table_name))

In [8]:
type(sf_df)

snowflake.snowpark.dataframe.DataFrame

In [9]:
df=sf_df.to_pandas()

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df=df.sort_values(by='TRANS_DATE')

In [12]:
df.head(5)

,MNTH_CODE,TRANS_DATE,START_DATE,SALES_VALUE,SALES_UNITS,SALES_VOLUME,SALES_PTR_VALUE,OC_CODE,DISTRIBUTOR_CODE,OUTLET_CODE,CITY,STATE,COUNTY,STREET,PRODUCT_CODE,CATEGORY,SUBCATEGORY,BRAND
780456,202309,2023-08-29,2023-08-28,172.73,1,0.000375,172.727273,202209,DB0209,OL175129,Truth or Consequences,New Mexico,City Center,Str3,PRD0059,Perfume and Deodrants,Male Deodrant,Sapphire
800539,202309,2023-08-29,2023-08-28,142.86,16,0.000384,142.857143,202209,DB0655,OL144514,West Point,Mississippi,Silver,Str2,PRD0106,Hair Care,Shampoo,Hair & Shoulders
800538,202309,2023-08-29,2023-08-28,405.64,4,0.000428,418.181818,202209,DB0110,OL96826,Overland Park,Kansas,City Center,Str5,PRD0065,Hair Care,Hair Oil,Crimson
800537,202309,2023-08-29,2023-08-28,407.14,48,0.000816,428.571429,202209,DB0209,OL128819,Columbus,Georgia,Silver,Str2,PRD0028,Soap,Toilet Soap,Indigo
800536,202309,2023-08-29,2023-08-28,345.45,2,0.000500,345.454545,202209,DB0706,OL12592,Nashville,Indiana,City Center,Str4,PRD0122,Perfume and Deodrants,Female Deodrant,Lilac

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 966400 entries, 780456 to 883818
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   MNTH_CODE         966400 non-null  int32
 1   TRANS_DATE        966400 non-null  object
 2   START_DATE        966400 non-null  object
 3   SALES_VALUE       966400 non-null  float64
 4   SALES_UNITS       966400 non-null  int16
 5   SALES_VOLUME      966400 non-null  float64
 6   SALES_PTR_VALUE   966400 non-null  float64
 7   OC_CODE           966400 non-null  int32
 8   DISTRIBUTOR_CODE  966400 non-null  object
 9   OUTLET_CODE       966400 non-null  object
 10  CITY              966400 non-null  object
 11  STATE             966400 non-null  object
 12  COUNTY            966400 non-null  object
 13  STREET            966400 non-null  object
 14  PRODUCT_CODE      966400 non-null  object
 15  CATEGORY          966400 non-null  object
 16  SUBCATEGORY       966400 non-null  object
 17  BRAND             966400 non-null  object
dtypes: float64(3), int16(1), int32(2), object(12)
memory usage: 127.2+ MB

In [14]:
#Converting into datetime format

df['TRANS_DATE'] = pd.to_datetime(df['TRANS_DATE'])
df['START_DATE'] = pd.to_datetime(df['START_DATE'])

In [15]:
df.shape

(966400, 18)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 966400 entries, 780456 to 883818
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   MNTH_CODE         966400 non-null  int32
 1   TRANS_DATE        966400 non-null  datetime64[ns]
 2   START_DATE        966400 non-null  datetime64[ns]
 3   SALES_VALUE       966400 non-null  float64
 4   SALES_UNITS       966400 non-null  int16
 5   SALES_VOLUME      966400 non-null  float64
 6   SALES_PTR_VALUE   966400 non-null  float64
 7   OC_CODE           966400 non-null  int32
 8   DISTRIBUTOR_CODE  966400 non-null  object
 9   OUTLET_CODE       966400 non-null  object
 10  CITY              966400 non-null  object
 11  STATE             966400 non-null  object
 12  COUNTY            966400 non-null  object
 13  STREET            966400 non-null  object
 14  PRODUCT_CODE      966400 non-null  object
 15  CATEGORY          966400 non-null  object
 16  SUBCATEGORY       966400 non-null  object
 17  BRAND             966400 non-null  object
dtypes: datetime64[ns](2), float64(3), int16(1), int32(2), object(10)
memory usage: 127.2+ MB

Clustering the Objects

In [34]:
# import pandas as pd
# from sklearn.cluster import KMeans

# # Assuming df is your original DataFrame
# df_cluster = df.copy()

# # Aggregating data by OUTLET_CODE
# aggregated_data = df_cluster.groupby('OUTLET_CODE').agg(
#     unique_product_codes=('PRODUCT_CODE', 'nunique'),
#     total_sales_value=('SALES_VALUE', 'sum'),
#     total_sales_units=('SALES_UNITS', 'sum'),
#     total_transactions=('TRANS_DATE', 'count'),
#     avg_order_value=('SALES_VALUE', lambda x: x.sum() / x.nunique())
# ).reset_index()

# # Category contribution for each category
# categories = df['CATEGORY'].unique()
# for category in categories:
#     category_sales_units = df[df['CATEGORY'] == category].groupby('OUTLET_CODE')['SALES_UNITS'].sum()
#     total_sales_units = df.groupby('OUTLET_CODE')['SALES_UNITS'].sum()
#     aggregated_data[f'category_contribution_{category}'] = category_sales_units / total_sales_units

# # Fill NaN values with 0 for clustering
# aggregated_data = aggregated_data.fillna(0)

# # Selecting features for clustering
# feature_cols = ['unique_product_codes', 'avg_order_value', 'total_sales_value', 'total_sales_units', 'total_transactions'] + [f'category_contribution_{category}' for category in categories]
# features = aggregated_data[feature_cols]

In [37]:
import pandas as pd
from sklearn.cluster import KMeans

# Assuming df is your original DataFrame
df_cluster = df.copy()

# Aggregating data by OUTLET_CODE
aggregated_data = df_cluster.groupby('OUTLET_CODE').agg(
    unique_product_codes=('PRODUCT_CODE', 'nunique'),
    total_sales_value=('SALES_VALUE', 'sum'),
    total_sales_units=('SALES_UNITS', 'sum'),
    total_transactions=('TRANS_DATE', 'count'),
    avg_order_value=('SALES_VALUE', lambda x: x.sum() / x.nunique())
).reset_index()

# Category contribution for each category
categories = df['CATEGORY'].unique()
for category in categories:
    category_sales_units = df[df['CATEGORY'] == category].groupby('OUTLET_CODE')['SALES_UNITS'].sum()
    total_sales_units = df.groupby('OUTLET_CODE')['SALES_UNITS'].sum()
    aggregated_data[f'category_contribution_{category}'] = category_sales_units / total_sales_units

# Fill NaN values with 0 for clustering
aggregated_data = aggregated_data.fillna(0)

# Selecting features for clustering
feature_cols = ['unique_product_codes', 'avg_order_value', 'total_sales_value', 'total_sales_units', 'total_transactions'] + [f'category_contribution_{category}' for category in categories]
features = aggregated_data[feature_cols]

In [27]:
# Clustering using KMeans
kmeans = KMeans(n_clusters=3, random_state=42)
df_cluster['cluster'] = kmeans.fit_predict(features)

# Display the first few rows of the clustered DataFrame
print(df_cluster.head())

        MNTH_CODE TRANS_DATE START_DATE  SALES_VALUE  SALES_UNITS  \
780456     202309 2023-08-29 2023-08-28       172.73            1
800539     202309 2023-08-29 2023-08-28       142.86           16
800538     202309 2023-08-29 2023-08-28       405.64            4
800537     202309 2023-08-29 2023-08-28       407.14           48
800536     202309 2023-08-29 2023-08-28       345.45            2

        SALES_VOLUME  SALES_PTR_VALUE  OC_CODE DISTRIBUTOR_CODE OUTLET_CODE  \
780456      0.000375       172.727273   202209           DB0209    OL175129
800539      0.000384       142.857143   202209           DB0655    OL144514
800538      0.000428       418.181818   202209           DB0110     OL96826
800537      0.000816       428.571429   202209           DB0209    OL128819
800536      0.000500       345.454545   202209           DB0706     OL12592

        ... unique_product_codes category_contribution_Perfume and Deodrants  \
780456  ...                   53                                    0.199061
800539  ...                    5                                         NaN
800538  ...                   69                                         NaN
800537  ...                    3                                         NaN
800536  ...                   70                                    0.223595

       category_contribution_Hair Care category_contribution_Soap  \
780456                             NaN                        NaN
800539                        0.170940                        NaN
800538                        0.229592                        NaN
800537                             NaN                   0.826087
800536                             NaN                        NaN

       category_contribution_Kids Care category_contribution_Lotion  \
780456                             NaN                          NaN
800539                             NaN                          NaN
800538                             NaN                          NaN
800537                             NaN                          NaN
800536                             NaN                          NaN

       category_contribution_Dental category_contribution_Wipes  \
780456                          NaN                         NaN
800539                          NaN                         NaN
800538                          NaN                         NaN
800537                          NaN                         NaN
800536                          NaN                         NaN

        avg_order_value  cluster
780456      3026.418824        0
800539       172.142941        0
800538      4078.795312        0
800537       631.144000        0
800536      9909.466000        1

[5 rows x 28 columns]

In [39]:
aggregated_data.head()

,OUTLET_CODE,unique_product_codes,total_sales_value,total_sales_units,total_transactions,avg_order_value,category_contribution_Perfume and Deodrants,category_contribution_Hair Care,category_contribution_Soap,category_contribution_Kids Care,category_contribution_Lotion,category_contribution_Dental,category_contribution_Wipes
0,OL10328,23,4904.27,221,34,288.486471,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,OL10329,20,42893.83,1148,195,912.634681,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OL10330,73,324169.05,3124,573,1373.597669,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,OL10331,19,12422.54,87,49,345.070556,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OL10332,11,36331.30,4204,147,1345.603704,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Count the number of OUTLET_CODEs by cluster
outlet_counts_by_cluster = df_cluster.groupby('cluster')['OUTLET_CODE'].nunique()

# Display the counts
print(outlet_counts_by_cluster)

cluster
0    18205
1      541
2       87
Name: OUTLET_CODE, dtype: int64